<div class="under-line under-line-left">
   <h2>Welcome to Wafflestudio !</h2>
</div>

<div class="sub-container">
   <h3>리크루팅</h3>
   <p>지원 기간: 9월 23일 ~ 10월 6일</p>
   <p>면접 일자: 10월 10일(목), 12일(토)</p>
   <p>문의: recruit@wafflestudio.com</p>
   <h3>프로젝트</h3>
   <h3>언론</h3>
   <h3>지원</h3>
</div>

<div class="under-line under-line-right">
   <span class="symbol">>>></span>
   <%= link_to "<span>지</span>원하기".html_safe, new_applicant_path  %>
</div>
